<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title || 'App' %></title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/auth.css" />
    <link rel="stylesheet" href="/css/header&footer.css" />
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/viewWorkout.css">
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>
      <main class="content"><%- body %></main>
    </div>
      <%- include('partials/footer') %>
  </body>
</html>
