<header class="site-header">
  <div class="brand">
    <div class="logo">WT</div>
    <div>
      <div class="title">Workout Tracker</div>
      <div class="subtitle">
        Log workouts and view statistics using WorkoutTracker module
      </div>
    </div>
  </div>
  <nav class="navbar">
    <button class="nav-btn">
      <a href="/dashboard">Dashboard</a>
    </button>
    <button class="nav-btn">
      <a href="/workout">Create Workout</a>
    </button>
    <form
      action="/api/v1/auth/sign-out"
      method="post"
      style="display: inline"
    >
      <button class="nav-btn">
        Sign out
      </button>
    </form>
  </nav>
</header>